<base-button
  icon="arrow_back"
  type="danger"
  (buttonClick)="backRouter()"
  customClass="m-5"
></base-button>
<div class="bg-white h-[100vh] w-[50%] mx-auto border">
  <p class="font-bold border text-3xl text-center p-3 bg-gray-100">
    Password Policy
  </p>
  <form class="bg-white">
    <div class="w-[90%] mx-auto">
      <div>
        <base-input label="Password Length*"></base-input>
      </div>
      <div class="my-5">
        <base-input label="Lowercase Letters"></base-input>
      </div>
      <div>
        <base-input label="Uppercase Letters"></base-input>
      </div>
      <div class="w-[90%] py-4">
        <label for="">Contain Digit</label>
        <mat-select class="" [formControl]="defaultValue">
          <mat-option value="red">Red</mat-option>
          <mat-option value="green">Green</mat-option>
          <mat-option value="blue">Blue</mat-option>
        </mat-select>
      </div>
      <div>
        <base-input label="Digit Length"></base-input>
      </div>
      <div>
        <base-input label="Contain Special Characters"></base-input>
      </div>
      <div>
        <base-input label="Special Character Used"></base-input>
      </div>
    </div>

    <div class="flex justify-center gap-4">
      <base-button customClass="mt-5 float-end" label="Update"></base-button>
      <base-button
        customClass="mt-5 float-end"
        label="Cancel"
        type="danger"
      ></base-button>
    </div>
  </form>
  <div class="flex justify-center items-center mt-5">
    <base-input customClass="flex-1"></base-input>
    <base-button label="Copy"></base-button>
  </div>
</div>
